version: "3.9"

services:
  backend:
    build:
      context: ./backend
    container_name: product-backend
    ports:
      - "4000:4000"
    networks:
      - app-network

  frontend:
    build:
      context: ./frontend
    container_name: product-frontend
    ports:
      - "3000:80"
    environment:
      - REACT_APP_API_URL=http://backend:4000
    depends_on:
      - backend
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

