name: CI-CD Pipeline

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push Backend Images
        uses: docker/build-push-action@v5
        with:
          context: ./backend
          push: true
          tags: thevenusian/devops-react-node-backend:latest

      - name: Build and push Frontend Images
        uses: docker/build-push-action@v5
        with:
          context: ./frontend
          push: true
          tags: thevenusian/devops-react-node-frontend:latest

      - name: Set Kubeconfig
        run: |
          mkdir -p ~./kube
          echo "${{ secrets.KUBE_CONFIG }}" | base64 -d > ~./kube/config

      - name: Deploy to Kubernetes
        run: |
          kubectl apply -f k8s/
